<div class="row">
    <div class="col-md-6">
        <h2>SOAP Apis</h2>
        <div class="list-group">
            <a href="~/Soap/CitiesService.asmx" class="list-group-item list-group-item-action">Cities Webservice</a>
            <a href="~/Soap/ProvincesService.asmx" class="list-group-item list-group-item-action">Provinces Webservice</a>
            <a href="~/Soap/CountriesService.asmx" class="list-group-item list-group-item-action">Countries Webservice</a>
        </div>
    </div>
    <div class="col-md-6">
        <h2>SOAP WSDL Documents</h2>
        <div class="list-group">
            <a href="~/Soap/CitiesService.asmx?WSDL" class="list-group-item list-group-item-action">Cities Webservice WSDL Document</a>
            <a href="~/Soap/ProvincesService.asmx?WSDL" class="list-group-item list-group-item-action">Provinces Webservice WSDL Document</a>
            <a href="~/Soap/CountriesService.asmx?WSDL" class="list-group-item list-group-item-action">Countries Webservice WSDL Document</a>
        </div>
    </div>

</div>